ion-content {
    --background: black;
}

@-webkit-keyframes rotate-in-bl {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 1
    }
}

@keyframes rotate-in-bl {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 1
    }
}

.container {
    -webkit-animation: rotate-in-bl 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: rotate-in-bl 1s cubic-bezier(.25, .46, .45, .94) both;
    img {
        height: 100px;
        margin-top: 60%;
    }
}