#background-content {
    left: 0px;
    right: 0px;
    top: calc(var(--offset-top) * -1);
    bottom: calc(var(--offset-bottom) * -1);
    position: absolute;
    --background: #eeeeee;
}

ion-header {
    --background: #eeeeee !important;
}

ion-toolbar {
    --background: #eeeeee;
}

.contenu {
    --background: black;
}

.black-background {
    background-color: #eeeeee;
    img {
        margin-top: 10%;
    }
}

.white-background {
    background-color: #EEEEEE;
}

.toolbar-container {
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: var(--min-height);
    contain: content;
    overflow: hidden;
    z-index: 10;
    box-sizing: border-box;
    background: black !important;
}

// .half-page1 {
//     height: 10%;
//     width: 100%;
// }
// .half-page2 {
//     height: 70%;
//     width: 100%;
// }
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-page {
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-top: -90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 28px;
    box-shadow: -2px 15px 40px #ebe1e11f;
    position: fixed;
    width: 90%;
}

// .half-on-both {
//     width: calc(50% + 16px);
//     margin-left: -8px;
//     margin-right: -8px;
// }
.espacehaut {
    height: 1%;
}

.option {
    background: black;
    height: 7%;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    justify-content: center !important;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
}

ion-button {
    --border-radius: 15px;
    font-size: small;
    margin-left: 3%;
    margin-right: 3%;
    text-transform: capitalize lowercase;
    width: 50%;
    color: white;
}

ion-button span {
    text-transform: capitalize;
}

ion-button:active,
ion-button:focus {
    --background: #FF6D00;
}

// ion-button.custom-button {
//     --background: black;
// }
.selected-button {
    color: white;
    // font-weight: bold;
    --background: #FF6D00;
}